<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <%= @game.first_player.name %> attacks <%= @game.second_player.name %>
      <%= @game.second_player.name %> HP: <%= @game.second_player.hp %>
      <a href="/play"> Ok </a>
    </div>
  </body>
</html>
